@import '../common/sass/variables';
@import '../common/sass/mixins';

.headerBlock {
  height: 60px;
  background-color: $headerBgColor;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  @include title($titleFontFamily, 400, 16px);
  text-decoration: none;
  font-style: normal;
  line-height: 28px;
  color: $textColor1;
  opacity: 0.9;
}