@import '../common/sass/variables';

.wrapper {
    min-height: 50%;
    width: 80%;
    background: $BgSecondColor;
    margin: 0 auto;
    flex-wrap: wrap;
    color: $textColor3;
    .hl {
        border: 1px solid black;
    }
    .formBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 50px;
            width: 70%;
            margin: 0 auto;
        }
    }
}




