@import '../common/sass/variables';
@import '../common/sass/mixins';

.wrapper {
  background: $background2;

  .formBlock {
    min-height: 50%;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    color: $textColor3;
    @include flex(flex-start, center);
    flex-direction: column;
    padding: 20px 0;

    .form {
      @include flex(center, center);
      flex-direction: column;
      padding-bottom: 50px;
      width: 70%;
      margin: 0 auto;
    }
    .btn{
      &:hover{
        @include btnHover;
      }
    }
  }
}




