@import '../../common/sass/variables.scss';
@import '../../common/sass/mixins.scss';

.navBlock {
  display: flex;
  height: 100%;
  width: 95%;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 749px) {
    gap: 20px;
  }

  & a {
    @include title($titleFontFamily, 400, 24px);
    text-decoration: none;
    font-style: normal;
    line-height: 28px;
    color: $navColor;
  }
}
