.navBlock {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}
a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #e6e6e6;
}