.navBlock {
    background-color: white;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
}
a {
    text-decoration: none;
}