@import '../../common/sass/variables.scss';
@import '../../common/sass/mixins.scss';

.navBlock {
  @include flex(flex-end, center);
  padding: 0 20px;
  height: 100%;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
  @media screen and (max-width: 749px) {
    display: none;
  }

  .active{
    .navParts{
      .homeImg{
        filter: invert(17%) sepia(81%) saturate(4055%) hue-rotate(332deg) brightness(98%) contrast(116%);
      }
      .ref {
        color: #ff014f;
      }
    }
  }

  .show {

  }

  .navParts {
    @include flex(flex-start, center);

    gap:10px;
    cursor: pointer;
    .homeImg {
      width: 20px;
      height: 20px;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    }

    .ref {
      padding-top: 3px;
    }

    &:hover {
      .homeImg {
        filter: invert(17%) sepia(81%) saturate(4055%) hue-rotate(332deg) brightness(98%) contrast(116%);
      }

      .ref {
        color: #ff014f;
      }
    }
  }
}
