@import '../../common/sass/variables.scss';
@import '../../common/sass/mixins.scss';

.navBlock {
  @include flex(flex-end, center);
  height: 100%;
  width: 95%;
  gap: 50px;
  flex-wrap: wrap;
  @media screen and (max-width: 749px) {
    gap: 20px;
  }

  .active{
    .navParts{
      .homeImg{
        filter: invert(17%) sepia(81%) saturate(4055%) hue-rotate(332deg) brightness(98%) contrast(116%);
      }
      .ref {
        color: #ff014f;
      }
    }
  }

  .navParts {
    @include flex(flex-start, center);

    gap:10px;
    cursor: pointer;
    .homeImg {
      width: 20px;
      height: 20px;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    }

    .ref {
      padding-top: 3px;
      @include title($titleFontFamily, 400, 16px);
      text-decoration: none;
      font-style: normal;
      line-height: 28px;
      color: $textColor1;
    }

    &:hover {
      .homeImg {
        filter: invert(17%) sepia(81%) saturate(4055%) hue-rotate(332deg) brightness(98%) contrast(116%);
      }

      .ref {
        color: #ff014f;
      }
    }
  }
}
