@import '../../common/sass/variables';
@import '../../common/sass/mixins';

.skillBlock {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  cursor: pointer;
  margin: 10px;

  &:hover {
    background: linear-gradient(to right bottom, #212428, #16181c);
  }

  .skillImg {
    img {
      width: 60px;
      height: 60px;
      filter: invert(17%) sepia(81%) saturate(4055%) hue-rotate(332deg) brightness(98%) contrast(116%);
    }
  }

  h4 {
    @include title($titleFontFamily, 500, 24px);
    line-height: 32px;
    color: #c4cfde;
  }
}


