.wrapper {
    height: 100%;
    width: 80%;
    background: #333;
    margin: 0 auto;
    flex-wrap: wrap;
}

.hl {
    border: 1px solid black;
}

.remoteForm h3 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 42px;
    margin: 0;
    text-align: center;
}

.remoteForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
    color:#c5c3c3;
}