@import '../common/sass/variables';
@import '../common/sass/mixins';

.wrapper {
    height: 100%;
    width: 80%;
    background: $BgSecondColor;
    margin: 0 auto;
    flex-wrap: wrap;

    .remoteForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 50px;
        color:$textColor3;
        & h3 {
            color: #fff;
            @include title($titleFontFamily, 700, 42px);
            margin: 0;
            text-align: center;
        }
    }
}





