@import '../common/sass/variables';

.wrapper {
    height: 100%;
    width: 80%;
    background: $BgSecondColor;
    margin: 0 auto;
    flex-wrap: wrap;
    .hl {
        border: 1px solid black;
    }
    .remoteForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 50px;
        color:$textColor3;
        & h3 {
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 42px;
            margin: 0;
            text-align: center;
        }
    }
}





