@import '../common/sass/variables';
@import '../common/sass/mixins';

.wrapper {
  background: $background2;
  padding-top: 100px;

  .remoteForm {
    margin: 0 auto;
    flex-wrap: wrap;
    @include flex(center, center);
    flex-direction: column;
    gap: 30px;
    padding: 50px;

    h2 {
      color: #c4cfde;
      @include title($titleFontFamily, 700, 40px);
      margin: 0;
      text-align: center;
      line-height: 1.2;
    }

    .btn {
      &:hover {
        @include btnHover;
      }
    }
  }
}




