@import "../../sass/variables";
@import "../../sass/mixins";

.wrapper {
    @include flex(space-around, center);
    flex-direction: column;
    padding-top: 130px;
    .text {
        @include title(("Montserrat",sans-serif), 500, 14px);
        letter-spacing: 1px;
        line-height: 14px;
        text-transform: uppercase;
        color:#f9004d;
        text-align: center;
    }
    .title {
        @include title(("Montserrat",sans-serif), 700, 60px);
        margin: 15px auto;
        line-height: 1.2;
        color: #c4cfde;
    }
}

