$background: #212428;
$textColor1: #fff;
$textColor2: #999;
$textColor3: #c5c3c3;
$BgSecondColor:#333;
$BgThirdColor: #fff;
$navColor:#e6e6e6;
$headerBgColor:#000;
$titleFontFamily:'Poppins', sans-serif;