h2 {
    border-bottom: 2px solid #000000;
    margin: 0;
}
.skillsBlock {
    background: #f5f5f5;
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
}

.allSkillsBlock {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
    flex-wrap: wrap;
    gap:20px;
}