@import '../common/sass/variables';
@import '../common/sass/mixins';

.wrapper {
  background: $background2;

  .skillsBlock {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;

    .allSkillsBlock {
      @include flex(center, flex-start);
      padding: 100px 0;
      flex-wrap: wrap;
      @media screen and (max-width: 749px) {
        padding: 20px 0;
      }
    }
  }
}


