@import '../common/sass/variables';
@import '../common/sass/mixins';

.wrapper {
  min-height: 100vh;
  @include flex(space-around, center);

  .mainBlock {
    @include flex(space-around, center);
    color: $textColor1;
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: start;
    @media screen and (max-width: 1245px) {
      gap: 20px;
      justify-content: flex-start;
    }
    @media screen and (max-width: 1087px) {
      gap: 20px;
      justify-content: center;
    }

    .img {
      @include flex(center, center);
      width: 400px;
      height: 400px;
      position: relative;
      @media screen and (max-width: 450px) {
        width: 300px;
        height: 300px;
      }
      .absImg {
        background: url("./../assets/img/photo.jpg") center no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        animation: morph 8s ease-in-out infinite 1s;
        background-blend-mode: multiply;
        box-shadow: inset 0 0 0 9px rgba(255, 1, 79, 0.3);
        @keyframes morph {
          0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
          }
          50% {
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
          }
          100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
          }
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;

      h3 {
        @include title($titleFontFamily, 800, 48px);
        color: $textColor1;
        margin: 0;
        line-height: 1.2;
      }

      :nth-child(2) {
        @include title($titleFontFamily, 500, 24px);
        color: $textColor1;
      }

      p {
        @include title($titleFontFamily, 500, 15px);
        max-width: 450px;
        line-height: 30px;
        color: #bbb;
        @media screen and (max-width: 749px) {
          font-size: 18px;
        }
      }
    }
  }
}


