@import '../common/sass/variables';
@import '../common/sass/mixins';

.wrapper {
  //background: $background;
  min-height: 100vh;
  @include flex(space-around, center);

  .mainBlock {
    @include flex(space-around, center);
    color: $textColor1;
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: start;
    @media screen and (max-width: 1245px) {
      gap: 20px;
    }

    .img {
      @include flex(center, center);

      img {
        height: 50%;
        width: 50%;
        border-radius: 50%;
      }
    }

    .info {
      display: flex;
      flex-direction: column;

      h3 {
        @include title($titleFontFamily, 800, 48px);
        color: $textColor1;
        margin: 0;
        line-height: 1.2;
      }
      :nth-child(2) {
        @include title($titleFontFamily, 500, 24px);
        color: $textColor1;
      }

      p {
        @include title($titleFontFamily, 500, 15px);
        max-width: 450px;
        line-height: 30px;
        color: #bbb;
        @media screen and (max-width: 749px) {
          font-size: 18px;
        }
      }
    }
  }
}


