@import '../common/sass/variables';
@import '../common/sass/mixins';

.wrapper {
  background: $background;

  .footerBlock {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px;
    @include flex(center, center);
    flex-direction: column;
    gap: 30px;

    h4 {
      @include title($titleFontFamily, 700, 29px);
      color: #e4e6ea;
      line-height: 44px;
      margin: 0;
      text-align: center;
    }

    .icons {
      @include flex(center, center);
      gap: 50px;
      .iconsBtn{
        &:hover{
          @include btnHover;
        }
      }
    }

    .rightsBlock {
      @include flex(center, center);
      gap: 10px;

      span {
        @include title($titleFontFamily, 400, 17px);
        color: #878e99;
      }
    }
  }
}





