.wrapper {
    height: 100%;
    width: 80%;
    background: #333;
    margin: 0 auto;
    flex-wrap: wrap;
    color:#999;
}
.footerBlock {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.footerBlock h3{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 42px;
    margin: 0;
    text-align: center;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.rightsBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.rightsBlock span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}