@import '../common/sass/variables';
@import '../common/sass/mixins';

.wrapper {
    height: 100%;
    width: 80%;
    background: $BgSecondColor;
    margin: 0 auto;
    flex-wrap: wrap;
    color: $textColor2;
    .footerBlock {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap:30px;
        & h3{
            @include title($titleFontFamily, 700, 42px);
            color: #fff;
            margin: 0;
            text-align: center;
        }
        .icons {
            display: flex;
            justify-content: center;
            gap: 50px;
        }
        .rightsBlock {
            display: flex;
            justify-content: center;
            align-items: center;
            gap:10px;
            & span{
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
            }
        }
    }
}





