.projectsBlock {
    background: #f5f5f5;
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    flex-wrap: wrap;
    .allProjectsBlock {
        display: flex;
        justify-content: space-around;
        padding: 100px 0;
        flex-wrap: wrap;
        gap:20px;
        @media screen and (max-width: 749px){
            justify-content: center;
        }
    }
}

