@import '../common/sass/variables';
@import '../common/sass/mixins';

.wrapper {
  background: $background;

  .projectsBlock {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    flex-wrap: wrap;

    .allProjectsBlock {
      @include flex(center, flex-start);
      padding: 100px 0;
      flex-wrap: wrap;
      @media screen and (max-width: 749px) {
        justify-content: center;
        padding: 20px 0;
      }
    }
    .mySwiper{
      padding-bottom: 300px;
    }
  }
}


